* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

.box {
  background-color: hsl(0, 40%, 30%);
  height: 50px;
  width: 50%;
  opacity: 0.5;
  font-size: 10px;
  margin-bottom: 10px;
  float: right;
}

.red {
  background-color: red;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}
